<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        / <a href="/"> Home </a> / <a href="/items"> Items </a> / <a href="/about"> About </a>
    </header>
    
    <div> 
        Количество: {{ item.count | default:"товар отсутствует" }} 
    </div>
    <div>
        Бренд: {{ item.brand }}
    </div>
    <div>
        Описание: {{ item.description }}
    </div>

    <p><a href="/items">Назад к списку товаров</a></p>
</body>
</html>

